/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #54acff;
  --f7-theme-color-rgb: 84, 172, 255;
  --f7-theme-color-shade: #2b98ff;
  --f7-theme-color-tint: #7dc0ff;
}

/* Your app custom styles here */