:root {
    --img-door: url(../assets/images/door.png);
    --img-tree: url(../assets/images/tree.png);
    --img-shirt: url(../assets/images/shirt.png);
    --img-man: url(../assets/images/man.png);
}